<header>
    <nav class="navbar navbar-expand navbar-dark bg-dark" aria-label="Navigation bar">
        <div class="container-fluid">
            <a class="navbar-brand" href="/">Brand</a>
            <div class="collapse navbar-collapse" id="navbar">
                <ul class="navbar-nav me-auto">
                    <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="/">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Link1</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="/">Link2</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link disabled" href="/">Link 3</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
</header>
